# 1.สร้าง Network
networks:
  web_network:
    name: react_layout_network
    driver: bridge

# 2. สร้าง Service
services:
  # 2.1 Serice สำหรับโหมดพัฒนา (Dev)
  reactapp_dev: # ชื่อ Service
    build: 
      context: ./app
      dockerfile: Dockerfile.dev
    container_name: reactapp_dev
    restart: always
    volumes:
      - ./app:/usr/app # ตำแหน่ง ที่ใช้ sync ข้อมูลระวห่าง docker container กับ computer เรา
      - /usr/app/node_modules # Bookmarks Volume เป็นการบอกว่า ไม่ต้อง Sync ข้อมูลจาก docker container ไปที่ computer เรา
    ports:
      - "5173:5173"
    environment:
      - CHOKIDAR_USEPOLLING=true # Hot Reload
      - PNPM_HOME=/usr/app/.pnpm-home
    networks:
      - web_network

  # 2.2 Service สำหรับโหมดทดสอบก่อนขึ้นจริง (Prod)
  reactapp_prod: # ชื่อ Service
    build: 
      context: ./app
      dockerfile: Dockerfile.prod
    container_name: reactapp_prod
    restart: always
    ports:
      - "4173:4173" # Port บน nginx : Port บน Docker
    networks:
      - web_network

  # ตัวกลางรับคนเข้าเว็บ
  nginx:
    image: nginx:latest
    container_name: nginx_reactapp
    restart: always
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on: # กำหนดให้ reactapp_prod service ต้องทำเสร็จก่อน nginx จึงจะทำงานได้
      - reactapp_prod
    networks:
      - web_network